body{
    background-color: black;
}

.bg-trinity{
    background-image: url("/assets/image/backdrop UI kosong.png");
    background-size: 100% 100%;
}

.logo{
    background-image: url("/assets/image/logo.png");
    background-size: 100% 100%;
    z-index: 100;
    position: absolute;
    height: 40px;
    width: 81px;
    bottom: 0;
}

.page-detail{
    display: none;
}